.cotiza {
    text-align: center;
    color: transparent;
    -webkit-text-stroke: map-get($colores, blanco ) 3px;}
.tablaCotiza {
    border-radius: 50px;
}
 .botones {
    margin-left: 5%;
    margin-bottom: 2%;
}
