$tiempoCorto: 0.5s;
$letras: 5%;
$colores: (
    blanco: white,
    negro: black,
    gris:#8c8f8e,
    transparente: transparent
) ;
$imagenes: (
    margin-left: 20%,
    box-shadow: #4d4d4d 2px 2px 2px
);